
body{
    background-color: #4197ff;
}

.carrito-titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    text-decoration: underline;
    gap: 2em;
    margin: 2em 0;
}

.carrito-titulo img{
    height: 5em;
    width: 5em;
}

.carrito {
    background-color: #a0ded6;
    width: auto;
    margin: 2em 10em;
    border: 2px solid black;
    border-radius: 10px;
    
}

.carrito-item{
    width: auto;
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    grid-template-rows: 6em 3em 6em;
    border-bottom: 1px solid black;
}

.imagen{
    grid-column: 1;
    grid-row: 2;    
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: none;
}

.titulo-curso{
    grid-row: 1;
    grid-column: 2;
    display: flex;
    justify-content: start;
    align-items: center;
    letter-spacing: 0.3em;
    border-bottom: none;
}
.datos{
    grid-column: 2;
    grid-row: 2;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5em;
    border-bottom: none;
}

.datos  p{
    margin-top: 0.3em;
    font-size: 1.3em;
    font-weight: 700;
}

#valoracion-curso{
    display: flex;
    align-items: center;
}

.precio-unitario{
    grid-row: 2;
    grid-column: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    font-weight: 700;
    letter-spacing: 0.2em;
    border-bottom: none;
}



#carrito-precio-total{
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#carrito-precio-total h2{
    font-size: 2em;
    text-decoration: underline;
    padding: 2em 0 0.5em 0;
}

#carrito-precio-total p{
    font-size: 3em;
    font-weight: 700;
    letter-spacing: 0.2em;
    padding: 0.5em;
}

#carrito-precio-total button{
    width: 15em;
    height: 4em;
    margin-bottom: 3em;
}



/**************************************/

@media screen and (width < 900px){
    body{
        font-size: 70%;
    }

    
    .carrito {
    width: 30em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0em  0em;
    margin-left: 3em;
    margin-bottom: 3em;
    }


    .carrito-item{
    grid-template-columns: 1fr 3fr 3.5fr;
    }


    .imagen-curso{
        width: 10em;
    }

    .titulo-curso{
        text-align: center;
    }

    .datos{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 1em;
    
    }


    .datos p{
        margin-left: 2.8em;
    }

    #valoracion-curso p{
        margin-left: 0;
    }
    .precio-unitario{
    font-size: 2em;
    letter-spacing: 0em;
    }


    
}
