h1{
padding: 2em;
text-align: center;
}

.carrito {
    background-color: #a0ded6;
    height: 20em;
    width: auto;
    margin: 2em 10em;
    border: 2px solid black;
    border-radius: 10px;
    
}

#carrito-item1{
    background-color: burlywood;
    width: auto;
    height: 10em;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

#carrito-item1-datos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}


