* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: rgb(65, 151, 608);
}

.container-contacto {
  display: flex;
  justify-content: center;
  background-color: rgb(65, 151, 608);
  font-size: 1.2em;
}

.contacto__form {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 2em;
  padding: 2em;
  border: 1px solid black;
  border-radius: 0.5em;
  width: 38em;
  background-color: #a0ded6;
}

.contacto {
  display: flex;
  justify-content: space-around;
  padding: 4em;
}

.contacto__input {
  padding: 0.3em;
  margin-top: 0.5em;
}

.contacto__label {
  display: flex;
  flex-direction: column;
}

textarea {
  resize: none;
  height: 5em;
}

.ubicacion__img {
  width: 40.75em;
  margin-top: 1.2em;
  border: 1px solid black;
  border-radius: 0.5em;
}

.container__nosotros {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 2em;
  border: 1px solid black;
  border-radius: 0.5em;
  width: 40.875em;
  background-color: #a0ded6;
}

.contacto__nosotros {
  padding: 4em;
}

.nosotros__lista {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 2em;
  padding-top: 0;
}

.button-submit {
  width: 6.25em;
  padding: 0.625em;
  border-radius: 0.3125em;
  background-color: rgb(65, 151, 208);
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-submit:hover {
  background-color: rgb(45, 130, 185);
}

.contacto__label {
  border: 1px solid black;
  padding: 0.3125em;
  border-radius: 0.3125em;
}

.contacto__input {
  border-radius: 0.3125em;
  padding: 0.3125em 0;
}

#charCount {
  display: block;
  text-align: right;
  font-size: 0.9em;
  color: #333;
  margin-top: 0.3em;
}

dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 2rem;
  border-radius: 0.625em;
  border: 2px solid #0073e6;
  text-align: center;
  box-shadow: 0 0.125em 0.5em rgba(0, 0, 0, 0.3);
  max-width: 90%;
  width: 30em;
  z-index: 1000;
}

#acceptBtn {
  margin-top: 1.5em;
  padding: 0.7em 1.5em;
  background-color: #0073e6;
  border: none;
  color: white;
  border-radius: 0.5em;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s;
}

#acceptBtn:hover {
  background-color: #005bb5;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@media screen and (width < 115.625em) {
  .contacto__form {
    width: 25em;
    margin-bottom: 1em;
  }

  .ubicacion__img {
    width: 20.75em;
  }

  .container__nosotros {
    width: 20.875em;
  }

  #buscador {
    width: 20em;
  }

  .contacto {
    padding: 0;
    margin-top: 2em;
  }

  .contacto__nosotros {
    padding: 0;
    margin-top: 2em;
  }

  .container-contacto {
    gap: 1em;
  }
}

@media screen and (width < 56.25em) {
  .container-contacto {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .container__nosotros {
    width: 18em;
  }

  #logo {
    margin-left: 2em;
    width: 5em;
  }

  #carrito {
    width: 2em;
    height: 2em;
  }

  footer {
    flex-direction: column;
    gap: 1.5em;
    height: 100%;
  }

  .contacto__form {
    width: 18em;
  }

  .contacto {
    padding: 0;
    margin-top: 2em;
  }

  .contacto__nosotros {
    padding: 0;
    margin-top: 2em;
  }

  .footer_recuadros {
    width: 20em;
    margin: 1em;
  }

  .img__redes {
    width: 2.5em;
  }

  #buscador {
    width: 12em;
  }

  .container__ubicacion {
    margin-bottom: 2em;
  }

  .ubicacion__img {
    width: 18em;
  }

  #header-div__cantidad_items {
    height: 1.5em;
    width: 1.5em;
    right: 1em;
    bottom: 6.9em;
    border: 2px solid black;
  }
}
