body {
  background-color: #4197ff;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  margin: 2em 0;
  font-size: 3em;
}
.otros-cursos {
  width: 60%;
  margin-bottom: 4em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.otros-cursos-recuadro {
  display: grid;
  grid-template-rows: 2fr 0.5fr 0.5fr 0.5fr 1fr;
  background-color: #a0ded6;
  border-radius: 10px;
  margin: 3em 0em;
}

.imagen {
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titulo {
  grid-row: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  border: 1px solid black;
  border-radius: 10px;
}

.datos {
  grid-row: 3/4;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: 2em;
  font-weight: 800;
}

.detalle {
  grid-row: 4/5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.inscripcion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inscripcion button {
  padding: 0.5em 5em;
  font-size: 2em;
}

/********************************/
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(0.2em);
  justify-content: center;
  align-items: center;
}

.modal.show-modal {
  display: flex;
}

.contenedor-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
  padding: 1.5em;
  border-radius: 3em;
  border: 5px solid black;
  width: 25%;
}

.modal.show-modal img {
  height: 8em;
  margin: 1.5em;
}

.info-curso p {
  margin: 0.4em;
}

#botones {
  display: flex;
  margin-top: 1.5em;
  gap: 2em;
}

#botones a {
  background-color: greenyellow;
  text-decoration: none;
}

#botones button {
  background-color: red;
}

#botones a,
#botones button {
  padding: 0.5em;
  border: 2px solid black;
  border-radius: 0.5em;
  font-size: 1.2em;
  font-weight: 100;
  cursor: pointer;
}



@media (max-width: 900px) {
  .otros-cursos {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 1.5em;
    margin-bottom: 2em;
    align-items: center;
  }

  .otros-cursos-recuadro {
    flex: 1 1 auto;
    width: 100%;
    margin: 0;
    grid-template-rows: 1.6fr 0.6fr 0.5fr 0.5fr 0.9fr;
  }

  h1 {
    font-size: 2em;
    margin: 1.2em 0;
  }

  .inscripcion button {
    padding: 0.4em 2.5em;
    font-size: 1.2em;
  }

  .otros-cursos-recuadro img {
    max-width: 100%;
    height: auto;
    display: block;
  }
}

@media (max-width: 480px) {
  .otros-cursos {
    width: 95%;
    grid-template-columns: 1fr;
    gap: 1em;
  }

  .otros-cursos-recuadro {
    grid-template-rows: 1.2fr 0.5fr 0.45fr 0.45fr 0.7fr;
    margin: 1em 0;
    padding: 0.5em;
  }

  h1 {
    font-size: 1.6em;
    margin: 0.8em 0;
  }

  .titulo,
  .datos {
    font-size: 1em;
  }

  .inscripcion button {
    padding: 0.35em 1.5em;
    font-size: 1em;
  }
}
