body {
  box-sizing: border-box;
  margin: 0;
  background-color: #4197ff;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*********   grid general   *********/

.pago {
  width: 80%;
  height: 40em;
  margin-top: 5em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/*********  Metodo      ***********/
.pago-metodo {
  background-color: #a0ded6;
  margin: 2em;
  border-radius: 10px;
  border: 2px solid black;
}
.pago-metodo h2 {
  text-align: center;
  margin: 1.5em;
  font-size: 1.8em;
}

.pago-metodo form {
  background-color: #a0ded6;
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 1.5em;
}

.pago-metodo input {
  height: 3.5em;
  border-radius: 10px;
}
.pago-metodo label {
  font-size: 0.9em;
  font-weight: 600;
}
#asterisco {
  /* display: inline-block */
  font-size: 1.5em;
  width: 6ch;
  font-weight: 800;
  text-align: left;
}

#nombre-apellido-titular {
  margin-bottom: 3em;
}

.pago-metodo-botones {
  width: auto;
  height: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pago-metodo button {
  height: 3.5em;
  width: 100%;
  border-radius: 10px;
}
.pago-metodo a {
  color: white;
}

#numero-tarjeta {
  width: 100%;
}

#titular {
  width: 100%;
}

.boton-cancelar {
  display: flex;
  justify-content: center;
  align-items: center;
}

#cancelar {
  height: 3.5em;
  padding: 0 18em;
  background-color: rgb(209, 37, 37);
  color: white;
  border-radius: 10px;
  font-size: 1em;
}

/***************    Resumen        ********************/
.pago-resumen {
  background-color: #a0ded6;
  height: 25em;
  margin: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3em;
  border-radius: 10px;
  border: 2px solid black;
}
.pago-resumen h3 {
  text-align: center;
  margin: 1em;
  font-size: 2em;
}

.pago-resumen-datos {
  background-color: #45b5c4;
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 1em;
  border: 2px solid black;
  border-radius: 10px;
}

#detalle-curso {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
}

#detalle-curso h4 {
  font-size: 1.2em;
}
#detalle-curso p {
  font-size: 1.2em;
}

#total {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1.2em;
}

#total h4 {
  font-size: 1.6em;
  text-decoration: underline;
}

#total p {
  font-size: 1.2em;
  font-weight: 600;
}

.overlay {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.popup {
  background: #fff;
  padding: 2rem;
  border-radius: 0.625em;
  border: 2px solid #0073e6;
  text-align: center;
  box-shadow: 0 0.125em 0.5em rgba(0, 0, 0, 0.3);
  max-width: 90%;
  width: 30em;
}

.button-submit {
  width: 6.25em;
  padding: 0.625em;
  border-radius: 0.3125em;
  background-color: rgb(65, 151, 208);
  color: white;
}

/*********************************/

@media screen and (min-width: 1520.1px) and (max-width: 1864px) {
  /*
    #vencimiento-seguridad{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }*/

  .pago {
    height: 50em;
  }

  #vencimiento-seguridad {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5em;
  }
  .boton-cancelar {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #cancelar {
    padding: 0 13.5em;
    margin-bottom: 2em;
  }
}

@media screen and (width < 1520px) {
  .pago {
    margin: 0;
    height: 80em;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .pago-resumen {
    width: 42em;
    height: 20em;
  }

  #cancelar {
    width: 30.5em;
    margin-bottom: 3em;
  }
}

@media screen and (width < 932px) {
  .pago {
    display: flex;
    flex-direction: column-reverse;
    margin: 0;
    height: 80em;
  }

  label {
    text-align: center;
  }
  #tarjeta label {
    margin-bottom: 0.5em;
  }

  #vencimiento-seguridad {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5em;
  }

  .pago-resumen {
    height: 25em;
  }

  .pago-resumen-datos {
    margin-bottom: 1.5em;
  }
  .boton-cancelar {
    justify-content: start;
  }

  #cancelar {
    padding: 0 12.5em;
    margin-left: 1.5em;
    margin-right: 1.5em;
    margin-bottom: 1em;
  }
}

@media screen and (width < 730px) {
  .pago-resumen {
    width: 70%;
    font-size: 80%;
  }

  .pago-metodo {
    width: 70%;
    font-size: 80%;
  }

  .boton-cancelar {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #cancelar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0.5em;
    padding: 0 11em;
  }
}
