

body {
  margin: 0;
  background-color: #4197ff;
  box-sizing: border-box;
}
.principal{
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  margin: 4em;
}
h2{
  margin: 2em;
}
.perfil-imagen-nombre{
  width: 80%;
  background-color: red;
  display: flex;
  align-items: center;
  
}
#foto-perfil{
  width: 20em;
  height: 20em;
}
#nombre-usuario{
  margin-left: 2em;
  font-size: 2.5em;
}


/**********************************/
.cursos-inscripto{
  background-color: #45b5c4;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  padding: 2em;
}

.contenedor-curso {
  background-color: #a0ded6;
  border: 1px solid black;
  border-radius: 10px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  margin: 0 1em;
}

.imagen-curso-similar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}

.titulo-curso {
  text-align: center;
  border: 2px solid black;
  margin-bottom: 1em;
}

.abrir-comprar {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 0.5em;
}

.abrir-comprar button {
  padding: 0.2em;
  margin: 0.5em;
  width: 100%;
  cursor: pointer;
}

.abrir-comprar button {
  padding: 0.2em;
  margin: 0.5em;
  width: 100%;
  cursor: pointer;
}

.duracion-valor{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


/************************************************/

footer {
  width: auto;
  height: 30em;
  background-color: #1693a5;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid black;
}

.footer-recuadros {
  width: 30em;
  height: 15em;
}

.footer-recuadros h3 {
  padding: 1em;
}

#footer-datos-grupo {
  line-height: 2em;
  margin-top: 2em;
}

.footer-recuadros-info {
  display: flex;
  justify-content: space-between;
}
.footer-recuadros-info ul {
  list-style: none;
}

.footer-recuadros-info-datos {
  width: 50%;
}
.footer-recuadros-info-datos h4 {
  text-align: center;
  text-decoration: underline;
}
#footer-recuadros-info-datos-cursos {
  line-height: 1.8em;
}
#footer-recuadros-info-datos-generales ul {
  line-height: 3em;
  margin-top: 2.5em;
}

#footer-nota-legal {
  text-align: center;
  padding: 1em;
}

.footer-redes {
  height: 10em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}
.footer-redes-logos {
  border-radius: 1em;
}

#flecha-vuelta-inicio {
  font-size: 4em;
  position: fixed;
  bottom: 0.5em;
  right: 0.35em;
}

/*************************************************************/

@media screen and (width < 900px) {
  body {
    font-size: 70%;
  }

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  #logo {
    margin-left: 0;
    width: 8em;
  }

  #buscador {
    height: 3em;
    width: 15em;
  }

  #header-div__cantidad_items {
    left: 2em;
    bottom: 9em;
  }

  footer {
    width: 100%;
    height: 80em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1em;
  }

  .footer-recuadros {
    width: 35em;
    height: 100em;
  }

  .footer-recuadros h3 {
    font-size: 2em;
  }

  .footer-recuadros-info-datos h4 {
    font-size: 2em;
    margin-bottom: 1em;
    margin-right: 1em;
  }

  .footer-recuadros-info-datos li {
    font-size: 1.5em;
    margin: 0.8em;
  }

  #footer-datos-grupo li {
    font-size: 1.4em;
  }
}
