

* {
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.titulos {
  background-color: #45b5c4;
  height: 4em;
  text-align: center;
  align-content: center;
}

header {
  background-color: #1693a5;
  height: 12em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-div__logo {
  height: auto;
}

#logo {
  width: 10em;
  margin-left: 5em;
  border-radius: 50%;
  border: 1px solid black;
}

#buscador {
  height: 3em;
  width: 40em;
}

.header-div__carrito {
  height: 100%;
  width: 15%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}
.header-div__carrito button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

#carrito {
  height: 5em;
  width: 5em;
}

#header-div__cantidad_items {
  height: 2.5em;
  width: 2.5em;
  background-color: #ff000000;
  border-radius: 100%;
  border: black solid 0.25em;
  position: absolute;
  right: 5em;
  bottom: 8em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 800;
}

.navegation {
  height: 5em;
  width: auto;
  background-color: #45b5c4;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.navegation__items {
  height: 5em;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: #000;
}

/************************************************/

body {
  margin: 0;
  background-color: #4197ff;
}

.preguntas-frecuentes {
  padding: 4em;
}

.preguntas-frecuentes h1 {
  font-size: 4em;
}

.preguntas-frecuentes li {
  margin-top: 3em;
  margin-bottom: 1.5em;
  font-size: 1.5em;
  font-weight: 700;
}
.preguntas-frecuentes p {
  font-size: 1.3em;
  margin-left: 0.7em;
}

/************************************************/

footer {
  width: auto;
  height: 30em;
  background-color: #1693a5;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid black;
}

.footer-recuadros {
  width: 30em;
  height: 15em;
}

.footer-recuadros h3 {
  padding: 1em;
}

#footer-datos-grupo {
  line-height: 2em;
  margin-top: 2em;
}

.footer-recuadros-info {
  display: flex;
  justify-content: space-between;
}
.footer-recuadros-info ul {
  list-style: none;
}

.footer-recuadros-info-datos {
  width: 50%;
}
.footer-recuadros-info-datos h4 {
  text-align: center;
  text-decoration: underline;
}
#footer-recuadros-info-datos-cursos {
  line-height: 1.8em;
}
#footer-recuadros-info-datos-generales ul {
  line-height: 3em;
  margin-top: 2.5em;
}

#footer-nota-legal {
  text-align: center;
  padding: 1em;
}

.footer-redes {
  height: 10em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}
.footer-redes-logos {
  border-radius: 1em;
}

#flecha-vuelta-inicio {
  font-size: 4em;
  position: fixed;
  bottom: 0.5em;
  right: 0.35em;
}

/*************************************************************/

@media screen and (width < 900px) {
  body {
    font-size: 70%;
  }

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  #logo {
    margin-left: 0;
    width: 8em;
  }

  #buscador {
    height: 3em;
    width: 15em;
  }

  #header-div__cantidad_items {
    left: 2em;
    bottom: 9em;
  }

  footer {
    width: 100%;
    height: 80em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1em;
  }

  .footer-recuadros {
    width: 35em;
    height: 100em;
  }

  .footer-recuadros h3 {
    font-size: 2em;
  }

  .footer-recuadros-info-datos h4 {
    font-size: 2em;
    margin-bottom: 1em;
    margin-right: 1em;
  }

  .footer-recuadros-info-datos li {
    font-size: 1.5em;
    margin: 0.8em;
  }

  #footer-datos-grupo li {
    font-size: 1.4em;
  }
}
