*{
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: #a0ded6; 
}
.titulos{
    background-color: #45b5c4;
    height: 4em;
    text-align: center;
    align-content: center;
}

header{
    background-color: #1693a5;
    height: 12em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.header-div__logo{
    height: auto; 
}

#logo{
    width: 10em;
    margin-left: 5em;
    border-radius: 50%; 
    border: 1px solid black; 
}


#buscador{
    height: 3em;
    width: 40em;
}

.header-div__carrito{
    height: 100%;
    width: 15%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}


#carrito{
    height: 5em;
    width: 5em;
}

#header-div__cantidad_items{
    height: 2.5em;
    width: 2.5em;
    background-color: #ff000000;
    border-radius: 100%;
    border: black solid 0.25em;
    position: absolute;
    right: 5em;
    bottom: 8em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 800;
}

.navegation{
    height: 5em;
    width: auto;
    background-color: #45b5c4; 
}

.navegation__items{
    height: 5em;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    font-weight: 700;
}

a {
    text-decoration: none;
    color: #000;
}

/************     MAIN      ********************/

.separaciones{
    background-color: #000000;
    height: 4em;
    text-align: center;
    align-content: center;
}
.encabezado-principal{
    width: auto;
    height: 30em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 8%;
}
.encabezado-principal h1{
    font-size: 3em;
    margin-bottom: 1em;
}
.encabezado-principal h2{
    width: 80%;
    font-size: 1.5m;
    text-align: justify;
}

.encabezado-principal img{
    border-radius: 10%;

}


/*****************************************************************************/

.introduccion{
    background-color: #a0ded6;
    height: 20em;
    width: 80%;
    display: flex;
    text-align: center;
    align-items: center;
}
.introduccion-texto{
    background-color: azure;
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.introduccion{
    background-color: #a0ded6;
    height: 20em;
    width: 80%;
    display: flex;
    text-align: center;
    align-items: center;
}


/*****************************************************************************/

.informacion-empresa{
    background-color: #a0ded6;
    height: 60em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 10em 0;
}

.informacion-empresa-recuadros{
    height: 10em;
    margin: 0 20%;
    
}

.informacion-empresa-recuadros h3{
    margin-left: 10%;
    font-size: 2em;
    padding: 1em;
}

.informacion-empresa-recuadros-texto{
    width: 80%;
    text-align: start;
    margin-left: 5%;
    font-size: 1.3em;
}









/*****************************************************************************/
.equipo{
    background-color: #a0ded6;
    height: 100em;
    text-align: center;
}

.equipo h2{
    padding: 2em;
    font-size: 3em;
}

.equipo-integrantes{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 9em;
    text-align: center;
}
.equipo-integrante-individuo{
    background-color: #9eaf04;
    height: 35em;
    width: 24em;
    border: 5px solid black;
    border-radius: 1em;
}

.equipo-integrante-individuo-imagen{
    margin: 1em;
}

.equipo-integrante-individuo h3{
    padding: 0.5em;
}







/************     FOOTER      ********************/
footer{
    width: auto;
    height: 20em;
    background-color: #1693a5;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
}

.footer_recuadros{
    width: 30em;
    height: 15em;
    background-color: #9eaf04;
    border: 5px solid black;
    text-align: center;
    
}

.footer_recuadros h3{
    padding: 2em;
}

.footer-recuadros_cursos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}



.footer_redes{
    display: flex;
    justify-content: center;    
    gap: 1.5em;
}
.footer-redes_logos{
    border-radius: 1em;
}

#flecha-vuelta-inicio{
    font-size: 4em;
    position: fixed;
    bottom: 0.5em;
    right: 0.35em;
}

