*{
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.titulos{
    background-color: #45b5c4;
    height: 4em;
    text-align: center;
    align-content: center;
}

header{
    background-color: #1693a5;
    height: 12em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.header-div__logo{
    height: auto; 
}

#logo{
    width: 10em;
    margin-left: 5em;
    border-radius: 50%; 
    border: 1px solid black; 
}


#buscador{
    height: 3em;
    width: 40em;
}

.header-div__carrito{
    height: 100%;
    width: 15%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}
.header-div__carrito button{
    border: none;
    background-color: transparent;
    cursor: pointer;
}


#carrito{
    height: 5em;
    width: 5em;
}

#header-div__cantidad_items{
    height: 2.5em;
    width: 2.5em;
    background-color: #ff000000;
    border-radius: 100%;
    border: black solid 0.25em;
    position: absolute;
    right: 5em;
    bottom: 8em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 800;
}

.navegation{
    height: 5em;
    width: auto;
    background-color: #45b5c4;
    border-top: 1px solid black;
    border-bottom: 1px solid black;  
}

.navegation__items{
    height: 5em;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    font-weight: 700;
}

a {
    text-decoration: none;
    color: #000;
}

/************************************/
body{
    background-color: #4197ff;
}

.titulos{
    background-color: #45b5c4;
    height: 4em;
    text-align: center;
    align-content: center;
    
}


.slider{
    height: 41em;
    width: auto;
    background-color: #00032c;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-image:url(../IMG/Slider-Imagen1-Home.jpg)
}


.icono_slider{
    height: 8em;
    width: 8em;
    margin: 3em;
}
#icono_slider_IZQ{
    transform: rotate(180deg);
}
/*****************    Pasos    ****************************************/

#titulo-pasos{
    margin-top: 8em;
}
.section-pasos{
    height: 40em;
    width: auto;
    background-color: #4197ff;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.section-pasos-recuadros{
    background-color: #a0ded6;
    height: 20em;
    width: 30em;
    border: 5px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.section-pasos-recuadros h3{
    font-size: 1.8em;
    
}
.section-pasos-recuadros-textos{
    font-size: 1.2em;
    font-weight: 600;
    line-height: 1.8em;
    text-align: justify;
    margin: 0 1em;
}

.pasos-flecha{
    font-size: 8em;
}

.palabra-clave {
    color: blue;
}
/****************************   CURSOS DESTACADOS  ********************/

.cursos{
    background-color: #4197ff;
    width: auto;
    height: 100em;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#contenedor-grid-padre{
    width: 80em;
    height: 80em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 5em;
    grid-row-gap: 2em;
}

.contenedor-grid-hijo{
    background-color: #a0ded6;
    border: 1px solid black;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 3fr 1.2fr 1.5fr 2.5fr;
    grid-template-columns: 1fr;
    grid-gap: 0.3em;
}

.imagen{
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.titulo{
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    border-radius: 0;
    font-size: 2em;
    letter-spacing: 0.1em;
}

.datos{
    grid-row: 3;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border: none;
}
.datos p{
    font-size: 2em;
    font-weight: 800;
}

.detalles-comprar{
    grid-row: 4;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: none;
}
.detalles-comprar a{
    display: inline;
    
}
.detalles-comprar button{
    width: 70%;
    height: 40%;
    font-size: 2em;
}

.horas-y-precio{
    grid-column: 2/3;
    grid-row: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: none;
}



/****************************   Medios de Pago  ********************/

.medios_de_pago{
    background-color: #4197ff;
    height: 30em;
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-items: center;
    align-items: center;

}

.medios_de_pago__recuadros{
    background-color: white;
    border: 5px solid black;
    border-radius: 10px;
    width: 18em;
    height: 13em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*********************  Footer *********************************************/

footer{
    width: auto;
    height: 30em;
    background-color: #1693a5;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid black;
}

.footer-recuadros{
    width: 30em;
    height: 15em;
}

.footer-recuadros h3{
    padding: 1em;
}

#footer-datos-grupo{
    line-height: 2em;
    margin-top: 2em;
}

.footer-recuadros-info{
    display: flex;
    justify-content: space-between;
}
.footer-recuadros-info ul{
    list-style: none;
}

.footer-recuadros-info-datos{
    width: 50%;
}
.footer-recuadros-info-datos h4{
    text-align: center;
    text-decoration: underline;
}
#footer-recuadros-info-datos-cursos{
    line-height: 1.8em;
}
#footer-recuadros-info-datos-generales ul{
    line-height: 3em;
    margin-top: 2.5em;
}

#footer-nota-legal{
    text-align: center;
    padding: 1em;
}



.footer-redes{
    height: 10em;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;   

}
.footer-redes-logos{
    border-radius: 1em;
}

#flecha-vuelta-inicio{
    font-size: 4em;
    position: fixed;
    bottom: 0.5em;
    right: 0.35em;
}

/****************************  Media Queries ********************/

@media screen  and (width < 900px){


    
    body {
        font-size: 70%;
    }

    
    /******************************************************/
    .slider{
        width: 100%;
        height: 50%;
    }

    .icono_slider{
        width: 15%;
        height: 15%;
    }

    #titulo-pasos{
    margin-top: 4em;
    }

    .section-pasos{
    height: 30%;
    width: auto;
    background-color: #4197ff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 5em;
    }

    .section-pasos-recuadros{
    margin-top: 5em;
    background-color: #a0ded6;
    height: 50%;

    }
    .pasos-flecha{
    font-size: 0em;
    }



    /***********************************************************/
    
    .cursos{
        height: 350em;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }

    
    #contenedor-grid-padre{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5em;
    }


    .contenedor-grid-hijo{
        width: 25em;
    }

    .titulo{
        width: 12.5em;
    }
    .detalles-comprar a{
        font-size: 2em;
    
    }
    
    .detalles-comprar button{
        width: 100%;
    }

    /***********************************************************/

    .medios_de_pago{
    height: 50em;
    width: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    }

    .medios_de_pago__recuadros{
    
    width: 15em;
    height: 13em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    }

    .medios_de_pago__recuadros img{
        width: 90%;
        height: 90%;
    }


    /********************************************************/

    header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    }

    #logo{
    margin-left: 0;
    width: 8em;
    }

    #buscador{
    height: 3em;
    width: 15em;
    }

    #header-div__cantidad_items{
    left: 2em;
    bottom: 9em;
    
    }

    /*********************************************************/
    footer{
    width: 100%;
    height: 80em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    }


    .footer-recuadros{
    width: 35em;
    height: 100em;
    }

    .footer-recuadros h3{
    font-size: 2em;
    }

    .footer-recuadros-info-datos h4{
    font-size: 2em;
    margin-bottom: 1em;
    margin-right: 1em;
    }

    .footer-recuadros-info-datos li{
    font-size: 1.5em;
    margin: 0.8em;

    }

    

    #footer-datos-grupo li{
    font-size: 1.4em;
    }


    
}