.slider{
    height: 41em;
    width: auto;
    background-color: #00032c;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-image:url(../IMG/Slider-Imagen1-Home.jpg)
}


.icono_slider{
    height: 8em;
    width: 8em;
    margin: 3em;
}
#icono_slider_IZQ{
    transform: rotate(180deg);
}
/*****************    Pasos    ****************************************/
.section-pasos{
    height: 40em;
    width: auto;
    background-color: #4197ff;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    

}

.section-pasos__recuadros{
    background-color: #a0ded6;
    height: 20em;
    width: 30em;
    border: 5px solid black;
    text-align: center;
    align-content: center;
}

.section-pasos__recuadros p{
    text-align: justify;
}


/****************************   CURSOS DESTACADOS  ********************/

.cursos{
    background-color: #4197ff;
    width: auto;
    height: 90em;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#contenedor-grid-padre{
    width: 80%;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 5em;
    grid-row-gap: 2em;
}

.contenedor-grid-hijo{
    background-color: #a0ded6;
    border: 1px solid black;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 3fr 1.2fr 1.5fr 2.5fr;
    grid-template-columns: 1fr;
    grid-gap: 0.3em;
}

.imagen{
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.titulo{
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    border-radius: 0;
    font-size: 2em;
    letter-spacing: 0.1em;
}

.datos{
    grid-row: 3;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border: none;
}
.datos p{
    font-size: 2em;
    font-weight: 800;
}

.detalles-comprar{
    grid-row: 4;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: none;
}
.detalles-comprar a{
    display: inline;
    text-decoration: underline;
}
.detalles-comprar button{
    width: 70%;
    height: 40%;
    font-size: 2em;
}

.horas-y-precio{
    
    grid-column: 2/3;
    grid-row: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: none;
}



/****************************   Medios de Pago  ********************/

.medios_de_pago{
    background-color: #4197ff;
    height: 30em;
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-items: center;
    align-items: center;

}

.medios_de_pago__recuadros{
    background-color: white;
    border: 5px solid black;
    border-radius: 10px;
    width: 18em;
    height: 13em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/****************************   Footer  ********************/


